# Ignore Python virtual environment folder
env/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/
index.*
*.db

# Ignore system files
.DS_Store

# Ignore .env file
.env

# Ignore transcript files
transcripts/
transcripts/*

# Ignore vector database files
vdb/
vdb/*

# Add any other files or folders you want to ignore below this line
